
<!DOCTYPE html>
<html lang="ja" 　xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メンバー登録</title>
</head>
<body>
<main>
    <h1>メンバー登録画面</h1>
    <p th:text="${th_greet}" class="greet"></p>
    <form method="POST" action="">
        <p>お名前</p>
        <input type="form" name="nickname" placeholder="ニックネーム">
        <div>
            <input id="radio_male" type="radio" name="radio_1" value="male">
            <label for="radio_male">男性</label>
            <input id="radio_female" type="radio" name="radio_1" value="female">
            <label for="radio_female">女性</label>
            <!--            そのうち追加する項目-->
            <!--            <input id="radio_other" type="radio" name="radio_1" value="other">-->
            <!--            <label for="radio_other">その他</label>-->
        </div>
        <p>好きなOS</p>
        <select id="select_1" name="favorite_distribution">
            <option value="CentOS">CentOS</option>
            <option value="Ubuntu">Ubuntu</option>
            <option value="debian">debian</option>
            <option value="Arch">Arch</option>
            <option value="Gentoo">Gentoo</option>
        </select>
        <div style="margin: 2rem 0rem">
            <input type="submit" value="SEND">
        </div>
    </form>
</main>
</body>
</html>